# OS
.DS_Store

# Editor
.vscode/
.idea/

# Env files
.env
.env.*

# Logs
*.log

# Terraform local files
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
**/terraform.tfvars
*.auto.tfvars

# Terraform variable files (local-only)
terraform.tfvars
*.auto.tfvars